@model List<Timetable.Models.Lesson>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.ItemId</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" asp-route-dayId="@ViewBag.ItemId">Create New</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    name
                </th>
                <th>
                    teacher
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.teacher)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>
                }
                </tr>
            }
        </tbody>
    </table>
